.advantages {
    &__title {
        margin-bottom: 88px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    &__item-title {
        margin-bottom: 5px;
    }
}