.mortgage-header {
  padding-bottom: 110px;

  @include tablet {
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 15px;
    }
  }

  &__text {
    line-height: 1.5;
    color: $muted;
    font-family: $font-secondary;

    &:not(:first-child) {
      margin-bottom: 10px;
    }
  }
}