// Шрифты
$font-main: 'Raleway', sans-serif;
$font-accent: 'PlayfairDisplay', serif;
$font-secondary: 'Roboto', sans-serif;

// Цвета
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;